@media(max-width:768px) {
/*mobile devices*/
    nav .logo{position: relative}
    nav .logo .logo-img{display: none}
    nav .logo .bar-img {display: inline}
    nav .logo .bar-img img{padding: 17px!important;}
    nav .logo .mobile-menu{position: absolute;left: 0;top:20px;width: 100%;z-index: 999;background: #2c3e50}
    nav .logo .mobile-menu ul{padding: 0}
    nav .logo .mobile-menu ul li {list-style-type: none}
    nav .logo .mobile-menu form{position: relative}
    nav .logo .mobile-menu form span {;position: absolute;left: 0;top:0;max-width: 48px;height: 100%}
    nav .logo .mobile-menu form span img {background: transparent;padding: 15px}
    nav .logo .mobile-menu input{background: #2c3e50;border: none;border-radius: 0;padding: 25px 0 23px 52px;font-size: 20px;color: #ffffff }
    nav .logo .mobile-menu input:focus{background: #33485d}
    nav .logo .mobile-menu input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #ffffff;
    }
    .mobile-menu ul li:first-child{padding: 0}
    .mobile-menu ul li {padding: 15px 5px;position: relative}
    .mobile-menu ul li a{font-size: 16px}
    .mobile-menu ul li i {margin: 0 5px 0 10px ;width: 20px;font-size: 11px}
    .mobile-menu ul li span{position: absolute;right:12px;color: #fff;top:23px;font-size: 9px}
    .mobile-menu ul .dropdown ul{display: none}
    .mobile-menu ul .dropdown ul li {padding: 30px 0 0 70px;}
    .mobile-menu .active{display: block!important;}


        /***************/
    section .video-div{padding: 18px 0 0 0}
    section .video-title{padding: 0}
    section .video-title h3{padding: 0;margin: 0}
    section .video-details{padding:15px 0;text-align: center}
    section .video-details span{font-size: 1em;margin: 0}


    section .widget-container .tabs-div,section .widget-container .nav-tabs .active{border: none}
    section .widget-container .tabs-div a{padding: 7px 5px}
    section .widget-container .navbar-right{float: right}
    .widget .tab-pane{max-height: 341px}
    .tab-content #Search .form-group span{display: none}
    section .widget-container .nav-tabs .active a{color:#1abc9c }

}
@media (min-width: 768px){
/*tablet and small laptop*/
}
@media (min-width: 992px){
  /*medium screen such as laptops*/
}
@media (min-width: 1200px){
    /*large screen desktop*/
}